.index-panel {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: 45vh;
  width: 90vw;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 15px;
  padding-top: 15px;
}

.index-sbox {
  display: flex;
  height: 40px;
  width: clamp(55%, 95%, 95%);
  max-width: 340px;
  min-width: 280px;
  border: none;
  border-radius: 25px;
  padding: 0px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  transition: background 0.2s ease, box-shadow 0.2s ease;
  box-sizing: border-box;
  align-items: center;
}

.index-sbox:focus-within {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.03);
}

.index-sbox i {
  position: absolute;
  right: 15px;
  pointer-events: auto;
  cursor: pointer;
  color: white;
  z-index: 2;
}

.index-input {
  width: 100%;
  padding: 0 15px;
  height: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 1;
}

.index-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
