.messages-panel {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 30px 30px 0 0;
  transform: translateY(100%);
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
  z-index: 900;
  display: flex;
  flex-direction: column;
}

.messages-panel.show {
  transform: translateY(0);
}

.messages-panel.half {
  transform: translateY(50%);
}

.messages-panel.full {
  transform: translateY(0);
}

.messages-container {
  flex: 1;
  padding: 0 15px 0 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.message-form {
  display: flex;
  border: none;
  padding: 15px 15px 10px 15px;
}

.message-form input {
  flex: 1;
  padding: 0px 15px;
  height: 40px;
  border: none;
  border-radius: 25px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  color: white;
  font-size: 16px;
  transition: background 0.2s ease, box-shadow 0.2 ease;
}

button, input {
  touch-action: manipulation;
}
.message-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.message-form input:focus {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.message {
  height: 40px;
  background: rgba(255,255,255,0.1);
  padding: 5px 15px;
  border-radius: 25px;
  word-break: break-word;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.message-text {
  flex: 1;
}
.message-time {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.5;
  white-space: nowrap;
}
