.recent-panel {
  margin-top: 21vh;
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  width: 90vw;
  background: rgba(0, 0, 0, 0.55);
  background: linear-gradient(135deg, rgba(0,0,0,0.0.2), rgba(0,0,0,0.55));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.1),
    0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  gap: 11.42px;
}

.recent-box {
  aspect-ratio: 1 / 1;
  height: 13vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
