.user-panel {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 90vw;
  background: #fff;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: 20px;
}

.user-avatar {
  width: clamp(60px, 40%, 180px);
  aspect-ratio: 1 /1;
  background: #000;
  border-radius: 10%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer; 
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.user-avatar:hover .avatar-overlay,
.user-avatar:active .avatar-overlay {
  opacity: 1;
  pointer-events: auto;
}
